.label {
    -fx-font-size: 22px;
    -fx-text-fill: rgba(0,0,0,1);
    /*-fx-min-height: 50px;*/
    /*-fx-max-height: 50px;*/
    -fx-min-width: 110px;
    -fx-max-width: 110px;
}

#res{
    -fx-alignment: center-right; /* Magical */
}

.text{

}

#grid {
    -fx-background-color: white;
}

.button{
    /*-fx-padding: 15px 20px 15px 20px;*/
    /*-fx-pref-width: 200px;*/
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-min-width: 50px;
    -fx-max-width: 50px;
    -fx-font-size: 16px;
    -fx-text-overrun: clip;
    /*-fx-padding: 5px;*/
    /*-fx-border-insets: 5px;*/
    /*-fx-background-insets: 5px;*/
    /*-fx-background-color: ;*/
}

#zero{
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-min-width: 110px;
    -fx-max-width: 110px;
}

#equal{
    -fx-background-color: deepskyblue;
}

#history{
    -fx-text-fill: rgba(0,0,0,0.7);
    -fx-font-size: 16px;
}
